<head>
	<meta charset="utf-8">
	<title>IAN PONS JEWELL web-site</title>
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Load CSS & WebFonts Main Function-->

	<!-- Load CSS Start-->
 
	<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
	<link type="text/css" rel="stylesheet" href="css/animate.css">
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/owl.theme.default.css">
	<script src="js/jquery.min.js"></script>
	<link href="css/video-js.css" rel="stylesheet">
	<script src="js/video.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	
	<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,700i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet"> -->
	<!-- Load CSS End-->
	<!-- Load CSS Compilled without JS-->
</head> 
