@import 'variables.less';
@import 'fonts.less';
style html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 0; font-size: 100%; font-style: inherit; font-weight: inherit; margin: 0; outline: 0; padding: 0; vertical-align: baseline; }
:focus { outline: 0; }
body { font-family: ProximaNova, Arial, sans-serif; font-size: 16px; color: #fff; background: #000;}
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: 0; }
a { text-decoration: none;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; line-height: 0; content: ""; }
.clearfix:after { clear: both; }

header {
	.mt20;
}
.overflow {
	@media (min-width: 992px){
		padding-top: @pt-menu;
	}
	
}
.nav-bar {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999999;
	background: #000;
	&--nbg {
		background: none;
	}
	&__list {	
		display: flex;
		align-items: center;
		justify-content: space-around;
		&-item {
			padding: 15px 0;
			text-align: center;
		}
		&-link {
			color: #fff;
			&:hover {
				color: #fff;	
			}
			&--logo {
				font-size: 50px;
				font-weight: bold;
			}
		}
	}
}
.menu-mobile {
	text-align: center;
	padding: 10px 0;
	&__logo {
		position: relative;
		display: inline;
		font-size: 30px;
		.up;
		.bold;
		color: #fff;
	}
	&__full {
		display: none;
	}
	&__list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		& .nav-bar__list-link {
			font-weight: 400;
			.__22;
		}
	}
	&.active {
		& .menu-mobile__full {
			display: block;
			position: absolute;
			z-index: 9;
			width: 100%;
			background: #000;
			padding-bottom: 20px;
			left: 0;
		}
	}
	&__icon {
		position: absolute;
		
		&s {
			position: absolute;
			display: inline-block;
			left: 10px;
			top: 18px;
			width: 30px;
		}
	}
}
.portfolio {
	&__column {
		.pn;
	}
	&__row {
		.mn;
	}
	&__item {
		position: relative;
		opacity: 0;
		cursor: pointer;
		&--active {
			animation-duration: 1s;
			animation-name: fadeInRight;
			opacity: 1;
		}
		&:hover {
			& .portfolio__txt-wrap {
				animation-duration: 0.5s;
				animation-fill-mode: both;
				-webkit-backface-visibility: visible !important;
				backface-visibility: visible !important;
				animation-name: fadeIn;
				opacity: 1;
			}
			& .portfolio__video {
				animation-duration: 1s;
				animation-fill-mode: both;
				-webkit-backface-visibility: visible !important;
				backface-visibility: visible !important;
				animation-name: fadeIn;
				z-index: 4;
			}
		}
	}
	&__txt {
		&-wrap {
			padding: 5px;
			position: absolute;
			opacity: 0; 
			z-index: 5;
			background: #000;
			bottom: 0;
			right: 0px;
			width: 100%;
			text-align: center;
		}
	}
	&__img {
		width: 100%;
		z-index: 3;
		position: relative;
		
		&-wrap {
			position: relative;
		}
	}
	&__video {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 2;
		left: 0;
		top: 0;
	}
	&__link {
		color: #fff;
		&:hover {
			color: #fff;
			text-decoration: none;
		}
	} 
}
.projects {
	&__item {
		display: flex;
		align-items: center;
	}
	&__txt{
		&-wrap {
			padding: 15px;
		}
	}
	&__high {
		padding: 30px 0;
		text-align: center;
		font-size: 20px;
	}
	&__link {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
}
.contacts {
	background: #000;
	width: 100%;
	left: 0;
	top: 0;
	height: 100%;
	display: none;
	justify-content: center;
	position: fixed;
	padding-top: @pt-menu;
	text-align: center;
	&__close {
		.mb50;
		cursor: pointer;
	}
	&--active {
		display: flex;
		flex-direction: column;
		align-items: center;
		animation-duration: 1s;
		animation-fill-mode: both;
		-webkit-backface-visibility: visible !important;
		backface-visibility: visible !important;
		animation-name: fadeInRight;
		z-index: 5;
	}
	&-wrap {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__email {
		&-wrap {
			color: #fff;
			font-size: 20px;
			text-transform: uppercase;
		}
	}
	&__social{
		display: flex;
		justify-content: center;
		&-link {
			 
		}
		&-item {
			width: 30px;
			margin: 0 10px;
		}
	}
}
.full-video {
	position: fixed;
	z-index: 6;
	background: #000;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding-top: @pt-menu;
	display: none;
	
	&--active {
		animation-duration: 1s;
		animation-fill-mode: both;
		animation-name: fadeIn;
		display: flex;
		align-items: center;
		display: block;
		overflow: auto;
		padding-bottom: 70px;
	}
	&__item {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	&__list {
		position: relative;
	}
	&__descr {
		.mt30;
		text-transform: uppercase;
		&-txt {
			&:hover {
				text-decoration: underline;
			}
			cursor: pointer;
		}
		&-full{
			text-align: left;
			display: none;
			&--active {
				nimation-duration: 1s;
				animation-fill-mode: both;
				-webkit-backface-visibility: visible !important;
				backface-visibility: visible !important;
				animation-name: flipInX;
				display: flex;
			}
		}
		
		&-item{
			width: 50%;
			box-sizing: border-box;
			padding: 20px;
		}
	}
	&__close {
		cursor: pointer;
		display: block;
		margin-left: 30px;
		margin-bottom: -5px;
		width: 20px
	}
}
.owl-nav {
	& > div {
		background: url(../img/icon-next.png) center center no-repeat;
		width: 27px;
		height: 54px;
		position: absolute;
		top: 50%;
		margin-top: -27px;
		font-size: 0;
		color: rgba(255,255,255, 0);
		&.owl-prev {
			-moz-transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
			left: 30px;
		}
		&.owl-next {
			right: 30px;
		}
	}
}
.txt {
	&-link {
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
}
